files
*.debhelper.log
*.substvars
*.debhelper
libslurm-dev/
libpam-slurm/
libpmi0-dev/
libpmi0/
libslurm-perl/
libslurm[0-9][0-9]/
libslurm[0-9][0-9]-dbg/
libslurmdb-dev/
libslurmdb-perl/
libslurmdb[0-9][0-9]/
libslurmdb[0-9][0-9]-dbg/
patches/fhcrc-docs
autoreconf.*
libpmi0-dbg/
slurm-client-dbg/
slurm-client/
slurm-llnl-slurmdbd/
slurm-llnl/
slurm-wlm-basic-plugins-dbg/
slurm-wlm-basic-plugins-dev/
slurm-wlm-basic-plugins/
slurm-wlm-doc/
slurm-wlm-torque/
slurm-wlm/
slurmctld-dbg/
slurmctld/
slurmd-dbg/
slurmd/
slurmdbd-dbg/
slurmdbd/
sview/
tmp/
*.symbols
